.c-container{
  margin-top: 70px;
}
.c-page-title {
  font-size: 16px;
  text-align: center;
  color: $colorTextBlack;
  @include josefin;
  @include mq(md) {
    font-size: 40px;
  }
}
.c-article-content{
  @include minmoji;
  line-height: 1.7;
}
.c-article-title{
  font-size: 24px;
}
